@mixin sizes($width, $height) {
    height: $height;
    width: $width;
  }


body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Arvo', serif;
    color: #fff;
  }
  
  
  .bannerheader {
      @include sizes(100%, 100vh );
      background: url(../imagenes/fondo.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      .navbar {
        margin-top: 4%;
      }
      .navbar-brand{
        color: #fff;
        font-size: 1.8em;
        font-weight: 700;
        margin-left: 5%;
        height: 15vh;
    }
}
.nav-list1 { 
        margin-left: 60%;
        li {
            a {
                font-size: 1.2em;
                color: rgb(255, 255, 255);
            }
            a:hover {
                color: rgb(252, 11, 2);
            }
        }
    }     
 


 .info {
        margin-top: 15%;
        -webkit-transform: translateY(-15%);
                transform: translateY(-15%);
                h1 {
                  font-size: 2.5em;
                  font-weight: 700;
                  color: #aaa;
                  letter-spacing: 2px;
                }
                p {
                  font-size: 2em;
                  font-weight: 500;
                  color: #aaa;
                  letter-spacing: 2px;
                  margin-bottom: 10%;
                }
                .boton-inicio {
                  margin-left: 40%;
                  -webkit-transform: translateY(-50%);
                          transform: translateY(-50%);
                  color: #fff;
                  
                  font-weight: 600;
                }
                a:hover {
                    background: #a002b4bd;
                  }
      }
    
    

    /* Seccion nosotros */
    .nosotros__inicio {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 5%;
        .nosotros__inicioinfo {
          position: relative;
          height: 100%;
          width: 100%;
          .nosotros__titulo {
            border-left: 2px solid rgba(219, 84, 253, 0.877);
            padding: 10px 15px;
            font-size: 2.5em;
            font-weight: 700;
          }
          .nosotros__parrafo {
            font-size: 1.5em;
            font-weight: 500;
            color: #5e5e6e;
          }
        }
      }
    
    #nosotros .nosotros__imagen {
        margin-top: 10%;
        position: relative;
        overflow: hidden;
        margin-left: 10%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 250px;
          width: 100%;
        }
      }
    
    .objetivos__inicio {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 5%;
        .objetivos__info {
          position: relative;
          height: 100%;
          width: 100%;
          .objetivos__titulo {
            border-left: 2px solid rgba(63, 214, 25, 0.877);
            padding: 10px 15px;
            font-size: 2.5em;
            font-weight: 700;
          }
        }
        .objetivos__parrafo {
          font-size: 1.5em;
          font-weight: 500;
          color: #5e5e6e;
        }
      }
    
      .culturas__inicio {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 5%;
        .culturas__info {
          position: relative;
          height: 100%;
          width: 100%;
          .culturas__titulo {
            border-left: 2px solid rgba(95, 244, 255, 0.993);
            padding: 10px 15px;
            font-size: 2.5em;
            font-weight: 700;
          }
        }
        .culturas__parrafo {
          font-size: 1.5em;
          font-weight: 500;
          color: #5e5e6e;
        }
      }
    
    
    
    
    
      
      /* Inicio seccion productos */
      .productos {
        .productos__titulo{
          text-align: center;
          color: blue;
          margin-top: 7%;
          padding: 10px 15px;
          font-size: 2.5em;
          font-weight: 700;
        }
      }
    
    .new {
      width: 100%;
      margin-top: 10%;
      letter-spacing: 1px;
      h2 {
        background: rgb(0, 0, 0);
        color: #fff;
        width: 200px;
        font-size: 24px;
        padding: 10px;
        height: 40px;
        border: 1px solid blue;
      }
    }
    
    .new__products {
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
    .new__products:hover .new__iconsell{
      opacity: 1;
      margin-left: 5%;
      transition: 0.5s;
    }
    
    .new__productsbottoms {
      .fas{
        color: #fc1515;
        font-size: 10px;
      }
      .far {
        color: #fc1b1b;
        font-size: 10px;
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
      h5 {
        font-size: 15px;
        padding-bottom: 10px;
      }
    }
    
    .new__iconsell {
        display: block;
        opacity: 0;
        position: absolute;
        top: 10%;
        margin-left: 0;
        width: 70px;
        .fas .far {
          cursor: pointer;
          background-color: rgb(0, 0, 0);
          color: #000;
          height: 35px;
          width: 35px;
          font-size: 20px;
          padding: 7px;
          margin: 5%;
          margin-bottom: 5%;
        }
        
    }
    
    
    
      #demo {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        height: 40%;
      }
      
      .carousel-inner img {
        width: 100%;
        height: 100%;
      }

// Inicio footer

.footer1 {
    position: relative;
    width: 100%;
    height: 55vh;
    padding: 50px 100px;
    background: rgb(5, 5, 5);
    
}
.footer__container1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__logoinfo1 h2 {       
     color: red;
}    
    
    .social__list{
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
    
        li{
            list-style: none;
            a{
                display:inline-block;
                width: 58px;
                height: 59px;
                background-color: rgb(24, 8, 116);
                display: grid;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                }
            a:hover {
                background: white;
            }
                .fab {
                    color: rgb(231, 3, 3);
                    font-size: 20px;
                }
           
            }
        }
    
    .recursos__menu {
        position: relative;
        li {
            list-style: none;
            a {
                color: red;
            }
            a:hover {
                background: white;
            }
        }
    }
    
    .copyright {
        width: 100%;
        background: blue;
        padding: 8px 100px;
        text-align: center;
        color: white;
    }
    
    @media (max-width:350px) {
        .footer__container1 {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .footer1 {
            height: 90vh;
            padding: 40px 40px;
        }
        .social__list {
            margin-left: 10%;
        }
    }

    @media (max-width:576px) {
        #contact-form textarea {
            width: 91vw;
            height: 10em;
        }
        .nav-list1 { 
            margin-left: 40%;
        } 
    
        .footer__container1 {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .footer1 {
            height: 80vh;
            padding: 40px 40px;
        }
    }

    @media (max-width:768px) {
        .footer__container1 {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .footer1 {
            height: 70vh;
            padding: 40px 40px;
        }
    }

    @media (max-width: 1200px) {
        .nav-list1 {
            margin-left: 40%;
        }
    }